@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation&family=Pacifico&family=Raleway:wght@300&family=Rubik+Iso&display=swap');

.card{
    padding:20px;
    margin:20px;
    margin-top:50px;
    box-shadow: 6px 6px 15px green;
    transition: all 0.2s;

}

.card:hover{
    transform: scale(0.8);
}

a:hover{
    opacity:0.5;
}