{% extends 'base.html' %} {% load static %} {% block content %}
<link
  href="{% static 'my_site/contact.css' %}"
  rel="stylesheet"
  type="text/css"
/>

<body class="bodycontact">
  <form method="post" action="{% url 'contact' %}">
    {% csrf_token %} {{ form.as_p }}
    <button class="btn btn-success" type="submit">Send</button>
  </form>

  <div class="infomations">
    <p>Email address : djokodev75@gmail.com</p>
    <p>Phone number : +237652260368 / +237620744571</p>
    <p>Location : douala, Cameroon</p>
  </div>
</body>
{% endblock %}
