{% extends 'base.html' %}
{% load static %}


    {% block content %}
    <head>
        <link href="{% static 'my_site/service.css' %}" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    </head>

    <body>
        <div class="container">
            <div class="services">
                <h1>My services</h1>
            </div>
            <div class="row">

                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-code"></i>

                    </div>
                    <h3>web development</h3>
                    <p>loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde</p>
                </div>

                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-line-chart"></i>

                    </div>
                    <h3>data analysis </h3>
                    <p>loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde</p>
                </div>

                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>

                    </div>
                    <h3>Training</h3>
                    <p>loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde</p>
                </div>

                <div class="col-md-3 text-center">
                    <div class="icon">
                        <i class="fa fa-camera"></i>

                    </div>
                    <h3>facial recognition</h3>
                    <p>loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde
                        loremmmdemmde loremmmdemmdeloremmmdemmde
                        loremmmdemmde</p>
                </div>
                
            </div>
        </div>
    </body>



    {% endblock %}
